# ?  bot token
token=
# ?  prefix that is before commands, like (!) for rhythm (!play)
prefix=
# ? Bot Name
bot_name=
# ? awaiting channel name
awaiting_chan_name=
# ? awaiting team role name
awaiting_role_name=
# ? manager_role_name: str
manager_role_name=

############################################################ #? More Technical

# ?  the bot owner's user id (right click/hold on user and search for copy id after enabling developer options)
bot_owner_user_id=
# ?  the server id where the bot will work on (it can be found the same way as the owner id)
server_id=
# ?  bot technical messages channel id (get it like the owner and server)
alerts_channel=
# ?  bot invite link to server
invite_link=
